body, html {
    height: 100%;
    margin: 0;
  }
  .parallax {
    /* The image used */
    background-image: url('../img/animal10.jpg');
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color:white;
    text-align: center;
    font-weight: 600;


  }
  .parallax2 {
    /* The image used */
    background-image: url('../img/animal.jpg');
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  .parallax h2,   .parallax h3,   .parallax h4{
    text-align: center;
    margin-top: 10px;
  }
  .parallax h1{
    text-align: center;
    
    font-size: 100px;
    color: rgb(255, 255, 255);  
   
  }

  .parallax p{
    display:inline-block;
  }
 