<section id="sobrenosotros" class="columnas-3">

    <h1>Sobre Nosotros</h1>
    <div>
      <figure>
        <figcaption>
          <h2>¿Quienes Somos?</h2><br>
          <p>Somos unos apasionados por las mascotas que no aguantamos el maltrato animal que existe hoy en dia en la
            sociedad, por lo tanto si sabes de alguna mascota que necesite ayuda no dudes en contactarnos.</p>
        </figcaption>
      </figure>
      <figure>
        <figcaption>
          <h2>Objetivos</h2><br>
          <p>Nuestro objetivos es llegar a poder encontrarle una lugar y una vida mejor a roda aquella mascota que la
            necesite</p>
        </figcaption>
      </figure>
      <figure>
        <figcaption>
          <h2>Valores</h2><br>
          <p>Nuestros valores son muy claros. No estamos dispuestos a tolenar ningún maltrato animal, </p>
        </figcaption>
      </figure>
    </div>
  </section>