<section id="sobrenosotros" class="columnas-3">
  <h1 class="abh1">Sobre Nosotros</h1>
  <div class="wrappaboutus">
    <div class="aboutus_">
      <div class="inside_">
        <h3>¿Quienes Somos?</h3>
        <p>Somos unos apasionados por las mascotas que no aguantamos el maltrato animal que existe hoy en dia en la
          sociedad, por lo tanto si sabes de alguna mascota que necesite ayuda no dudes en contactarnos.</p>
      </div>
    </div>
    <div class="aboutus_">
      <div class="inside_">
        <h3>Objetivos</h3>
        <p>Nuestro objetivos es llegar a poder encontrarle una lugar y una vida mejor a roda aquella mascota que la
          necesite.</p>
      </div>

    </div>
    <div class="aboutus_">
      <div class="inside_">
        <h3>Valores</h3>
        <p>Nuestros valores son muy claros. No estamos dispuestos a tolenar ningún maltrato animal. Y queremos ayudar a todos los animales que necesiten ayuda</p>
      </div>

    </div>
  </div>
</section>