<section id="galeria">
    <div class="container-texto">
        <div class="info-adoptar">
            <h2>¿Desea adoptar una Mascota?</h2>
            <br>
            <br>
            <p>Si buscas adoptar una mascota nosotros te propiciamos toda la ayuda posible.
                Aqui le aportamnos una galeria con todas las mascotas que están a disposición de ser adoptadas por su
                nuevo dueño.
            </p>
        </div>

        <div class="info-adoptar">
            <h2>¿Como te ayudamos para poder adoptar?</h2>
            <br>
            <br>
            <p>Nosotros te aportamos toda la ayuda posible gestionando las mascotas disponibles para adoptar y
                facilitandote los datos de las
                mascotas. Por otro lado tratamos con varias mascotas, por lo tanto para facilitar la busqueda de su
                mascota ideal
                tenemos un filtros para facilitar el proceso de busqueda.</p>
        </div>
    </div>
    <br>
    <br>
    <!-- un formulario q vaya a adoptar.php -->
    <br>
    <div class="container-texto">
        <div class="filtros">
            <form action="adoptar_logueado.php" method="GET">
                <h1>Mascotas en adopción</h1>
                <br>
                <label for="tipo">
                    <h3>Filtrar por mascotas:</h3>
                </label>
                <br>
                <select id="tipo" name="tipo">
                    <option value="Todos">Todos</option>
                    <template id="optionTipo">
                        <option value=""></option>
                    </template>
                </select>
            </form>
        </div>

        <br>
        <div class="mascotas">
            <template id="mascotas">
                <figure>
                    <picture>
                        <img src="/img/animal10.jpg" alt="">
                    </picture>
                    <figcaption>
                        <h2>Laila</h2>
                    </figcaption>
                    <button class="open">Ver ficha</button>
                </figure>
            </template>
        </div>

</section>

<div id="modal_container" class="modal-container">
    <div class="modal">
        <header>
            <h2 id="nombre">Datos de la mascota</h2>
        </header>
        <p class="raza"></p>
        <img id="imagen" src="" alt="" width="200" height="150">
        <span id="chip"></span>
        <footer>
            <button id="close">Cerrar</button>
        </footer>

    </div>

</div>

</div>