<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="css/parallax.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />

  <title>iPet</title>
</head>
<!-- menu -->
<div class="container">
    <ul>
      <li>
        <a href="/index_logueado.php#noticias">Home</a>
      </li>
      <li> <a href="/adoptar_logueado.php">Adoptar</a>
      </li>
      <li>
        <a href="/perdidas_logueado.php">Mascotas Perdidas</a>
      </li>
      <li>
        <a href="/dar_logueado.php">Dar En Adopción</a>
      </li>
      <li>
        <a href="/aboutus_logueado.php#sobrenosotros">Sobre Nosotros</a>
      </li>
    </ul>

<body>
<section id="galeria">
    <h1>Formulario</h1>

<div class="formulario-perdidas">
    <h3>Rellene el formulario para poder encontrar a su mascota</h3>
    <br>
    <br>
    <form action="">
        <label for="fname">Nombre de su mascota:</label><br>
        <input type="text" id="fname" name="fname" value="" required><br><br>
        <label for="fname">Seleccione su mascota:</label><br>
        <input type="radio" id="vehicle1" name="vehicle1" value="Bike" required>
        <label for="vehicle1"> Perro</label>
        <input type="radio" id="vehicle1" name="vehicle1" value="Bike" required>
        <label for="vehicle2"> Gato</label><br><br>
        <label for="lname">Raza:</label><br>
        <input type="text" id="lname" name="lname" value="" required ><br><br>
        <label for="fname">Genero de su mascota:</label><br>
        <input type="radio" id="perro" name="mascota" value="macho" required>
        <label for="vehicle3"> Macho</label>
        <input type="radio" id="gato" name="mascota" value="hembra" required>
        <label for="vehicle4"> Hembra</label><br><br>
        <label for="fname">Estado de su mascota:</label><br>
        <input type="radio" id="vehicle5" name="estado" value="cachorro" required>
        <label for="vehicle5"> Cachorro</label>
        <input type="radio" id="vehicle6" name="estado" value="adulto" required>
        <label for="vehicle6"> Adulto</label><br><br>
        <label for="date">Elija una imagen de su mascota:</label><br>
        <input type="file" accept="image/*" required><br><br>
        <label for="date">Escriba una descripción de su mascota:</label><br>
        <textarea name="" id="" cols="80" rows="10" required></textarea><br><br>
        <button>
            Enviar
        </button>
        &nbsp;
        &nbsp;
</form>
</div>
<a href="/perdidas_logueado.php"><button>Volver</button></a>

</section>
<footer>
    <div class="content">
    <div class="top">
        <div class="logo-details">
        <i class="fab fa-slack"></i>
        <span class="logo_name">iPet</span>
        </div>
        <div class="media-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/ipet_adopta/"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
    <div class="link-boxes">
        <ul class="box">
        <li class="link_name">Contacto:</li>
        <li><a href="#">Teléfono: +34 679 082 011</a></li>
        <li><a href="mailto:">Email: info@iPet.com</a></li>
        </ul>
        <ul class="box">
        <li class="link_name">Nuestra página:</li>
        <li><a href="index.php">Inicio/Noticias</a></li>
        <li><a href="adoptar.php">Adoptar mascotas</a></li>
        <li><a href="dar.php">Dar en adopción</a></li>
        <li><a href="perdidas1.php">Mascotas perdidas</a></li>
        <li><a href="aboutus.php">Sobre nosotros</a></li>

        </ul>
        <ul class="box input-box">
        <li class="link_name">Subscribe</li>
        <li><input type="text" placeholder="Enter your email"></li>
        <li><input type="button" value="Subscribe"></li>
        </ul>
    </div>
    </div>
    <div class="bottom-details">
    <div class="bottom_text">
        <span class="copyright_text">Copyright © 2023 <a href="#">Ipet.</a>All rights reserved</span>
        <span class="policy_terms">
        <a href="#">Privacy policy</a>
        <a href="#">Terms & condition</a>
        </span>
    </div>
    </div>
</footer>

<script src="modal.js"></script>

</body>

</html>