    <footer>
        <div class="content">
        <div class="top">
            <div class="logo-details">
            <i class="fab fa-slack"></i>
            <span class="logo_name">iPet</span>
            </div>
           
        </div>
        <div class="link-boxes">
            <ul class="box">
            <li class="link_name">Contacto:</li>
            <li><a href="#">Teléfono: +34 617 397 887</a></li>
            <li><a href="mailto:">Email: iPetcontacto@gmail.com</a></li>
            </ul>
            <ul class="box">
            <li class="link_name">Nuestra página:</li>
            <li><a href="index.php">Inicio/Noticias</a></li>
            <li><a href="adoptar.php">Adoptar mascotas</a></li>
            <li><a href="dar.php">Dar en adopción</a></li>
            <li><a href="perdidas1.php">Mascotas perdidas</a></li>
            <li><a href="aboutus.php">Sobre nosotros</a></li>
    
            </ul>
            <ul class="box input-box">
            <li class="link_name">Iniciar Sesión</li>
            <a href="inicio/"><button class="botones">Iniciar Sesión</button></a>
        </ul>
        </div>
        </div>
        <div class="bottom-details">
        <div class="bottom_text">
            <span class="copyright_text">Copyright © 2023 <a href="#">Ipet.</a>All rights reserved</span>
            <span class="policy_terms">
            <a href="#">Privacy policy</a>
            <a href="#">Terms & condition</a>
            </span>
        </div>
        </div>
    </footer>

  </body>
  
  </html>