
  
  <div class="parallax">
    <h1 title="Ipet">iPet hola caracola</h1>
  </div>
 
  <section id="noticias" class="columnas-3">
    <h2>Noticias</h2>
    <div>
      <figure>
        <picture>
          <img src="img/Rascador.png" alt="">
        </picture>
        <figcaption>
          <h2>Los mejores rascadores para gatos</h2><br>
          <p>Además de convertirse en juguetes con los que divertirse, los rascadores para gatos ayudan a que
            los felinos mantengan sus uñas cuidadas y afiladas, liberen tensión y se ejerciten</p><a
            href="https://elpais.com/escaparate/2022-12-30/los-mejores-rascadores-para-gatos.html">Ver
            más</a>
        </figcaption>
      </figure>
      <figure>
        <picture>
          <img src="img/sananton.png" alt="">
        </picture>
        <figcaption>
          <h2>Las mascotas reciben su bendición por San Antón</h2><br>
          <p>Como cada 17 de enero, San Antón llega a su cita para repartir su bendición a todas las mascotas
            y animales de compañía. La parroquia de San Antón, en la calle Hortaleza de Madrid, acoge este
            martes la tradicional gracia.</p><a
            href="https://www.20minutos.es/imagenes/madrid/5092799-las-mascotas-reciben-su-bendicion-por-san-anton/">Ver
            más</a>
        </figcaption>
      </figure>
      <figure>
        <picture>
          <img src="img/cachorros.png" alt="">
        </picture>
        <figcaption>
          <h2>Rescatados tres cachorros de un contenedor junto a Traumatología del Virgen de las Nieves</h2>
          <br>
          <p>La Policía Local de Granada se ha hecho cargo de tres cachorros, en aparente buen estado de
            salud, que han sido localizados por un ciudadano en el interior de un contenedor junto al
            Neurotraumatológico del Hospital Virgen de las Nieves de la capital granadina.</p><a
            href="https://www.larazon.es/andalucia/granada/20221221/zwuifafeivbl7ki55mzulw7z7q.html">Ver
            más</a>
        </figcaption>
      </figure>

    </div>

  </section>

  <div class="parallax2"></div>
