
  
  <div class="parallax">
    <h1 title="Ipet">iPet</h1>
    <p>Encuentra la mascota perfecta para ti</p>
  </div>
 
  <section id="noticias" class="columnas-3">
    <div class="container-texto">
    <div>
      <figure>
        <picture>
          <img src="img/iconoadoptar.png" alt="">
        </picture>
        <figcaption>
          <h2>Adopta</h2><br>
          <p>¿Estás pensando en sumar un nuevo miembro a tu familia? 
            Adoptar es la forma más bonita de hacerlo. Con tu decisión darás 
            una segunda oportunidad a quienes no tuvieron tanta suerte. 
            Si estás interesado, te animamos a visitar nuestra galería de adopciones 
            y conocer los animales que están esperando que les des una segunda oportunidad. </p><a
            href="adoptar.php">Ver
            más</a>
        </figcaption>
      </figure>
      <figure>
        <picture>
          <img src="img/lost-nofondo.png" alt="">
        </picture>
        <figcaption>
          <h2>Mascotas Perdidas</h2><br>
          <p>¿Ha perdido a su mascota? Lo mas importante es mantener la calma y tener paciencia. En nuestro apartado de mascotas perdidas 
            encontrará un formulario para poder encontrar a su mascota lo mas rápido posible, junto a este formulario tambien podrá 
          ver una galeria con las mascotas perdidas.</p><a
            href="perdidas1.php">Ver
            más</a>
        </figcaption>
      </figure>
      <figure>
        <picture>
          <img src="img/adopt-nofondo.png" alt="">
        </picture>
        <figcaption>
          <h2>Dar en Adopción</h2>
          <br>
          <p>¿No puede seguir cuidando de su mascota? Nosotros le ayudamos a poder buscarle un lugar mejor a su compañero de vida.
            En nuestro apartado de dar en adopción encontrará un formulario para rellenar con los datos de su mascota, y asi los demas
            usuarios podrán ver su anuncio. Recuerda abandonar un animal es delito. 
          </p><a
            href="dar.php">Ver
            más</a>
        </figcaption>
      </figure>

    </div>
  </div>
  </section>

  <div class="parallax2"></div>
