<div class="parallax">
  <h1 title="Ipet">iPet</h1>
  <p>Encuentra la mascota perfecta para ti</p>
</div>

<section id="noticias" class="columnas-3">
  <div class="container-texto">
    <div>
      <figure>
        <picture>
          <img src="img/iconoadoptar.png" alt="">
        </picture>
        <figcaption>
          <h2>Adopta</h2><br>
          <p>¿Estás pensando en sumar un nuevo miembro a tu familia?
            Adoptar es la forma más bonita de hacerlo. Con tu decisión darás
            una segunda oportunidad a quienes no tuvieron tanta suerte.
            Si estás interesado, te animamos a visitar nuestra galería de adopciones
            y conocer los animales que están esperando que les des una segunda oportunidad. </p><a
            href="adoptar.php">Ver
            más</a>
        </figcaption>
      </figure>
      <figure>
        <picture>
          <img src="img/lost.png" alt="">
        </picture>
        <figcaption>
          <h2>Mascotas Perdidas</h2><br>
          <p>Aunque se observa un descenso en el número de perros y gatos recogidos por las sociedades
            protectoras en España, aún es un descenso moderado y la cifra, que en el año 2021 fue de más de 285.554
            animales de compañía abandonado es aún muy alta. A lo largo de los últimos
            años hemos conseguido mejorarla, pero aún son muchos perros y gatos los que se quedan solos.</p><a
            href="perdidas1.php">Ver
            más</a>
        </figcaption>
      </figure>
      <figure>
        <picture>
          <img src="img/adopt.png" alt="">
        </picture>
        <figcaption>
          <h2>Dar en Adopción</h2>
          <br>
          <p>Si ya no puedes seguir cuidando de su mascota no dude en rellenar el formulario y darla en adopción. Con nuestra ayuda
            todo será mucho más fácil. Por favor nunca abadone un animal, si no puede darle una buena vida mejor darlo en adopción 
          para que pueda tener una segunda oportunidad.</p><a href="dar.php">Ver
            más</a>
        </figcaption>
      </figure>

    </div>
  </div>

</section>

<div class="parallax2"></div>