
  
  <div class="parallax">
    <h1 title="Ipet">iPet</h1>
    <p>Encuentra la mascota perfecta para ti</p>
  </div>
 
  <section id="noticias" class="columnas-3">
    <div class="container-texto">
    <div>
      <figure>
        <picture>
          <img src="img/iconoadoptar.png" alt="">
        </picture>
        <figcaption>
          <h2>Adopta</h2><br>
          <p>¿Estás pensando en sumar un nuevo miembro a tu familia? 
            Adoptar es la forma más bonita de hacerlo. Con tu decisión darás 
            una segunda oportunidad a quienes no tuvieron tanta suerte. 
            Si estás interesado, te animamos a visitar nuestra galería de adopciones 
            y conocer los animales que están esperando que les des una segunda oportunidad. </p><a
            href="/adoptar_logueado.php">Ver
            más</a>
        </figcaption>
      </figure>
      <figure>
        <picture>
          <img src="img/sananton.png" alt="">
        </picture>
        <figcaption>
          <h2>Mascotas Perdidas</h2><br>
          <p>Como cada 17 de enero, San Antón llega a su cita para repartir su bendición a todas las mascotas
            y animales de compañía. La parroquia de San Antón, en la calle Hortaleza de Madrid, acoge este
            martes la tradicional gracia.</p><a
            href="perdidas_logueado.php">Ver
            más</a>
        </figcaption>
      </figure>
      <figure>
        <picture>
          <img src="img/cachorros.png" alt="">
        </picture>
        <figcaption>
          <h2>Dar en Adopción</h2>
          <br>
          <p>La Policía Local de Granada se ha hecho cargo de tres cachorros, en aparente buen estado de
            salud, que han sido localizados por un ciudadano en el interior de un contenedor junto al
            Neurotraumatológico del Hospital Virgen de las Nieves de la capital granadina.</p><a
            href="dar_logueado.php">Ver
            más</a>
        </figcaption>
      </figure>

    </div>
  </div>
  </section>

  <div class="parallax2"></div>
